In [1]:
import requests
import pandas as pd

url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
html = requests.get(url).content
df_list = pd.read_html(html)
df = df_list[0]
print(df)
df.to_csv('postalcodescanada.csv')    #Import data and store the resulting data in data frame

    Postcode           Borough  \
0        M1A      Not assigned
1        M2A      Not assigned
2        M3A        North York
3        M4A        North York
4        M5A  Downtown Toronto
5        M5A  Downtown Toronto
6        M6A        North York
7        M6A        North York
8        M7A      Queen's Park
9        M8A      Not assigned
10       M9A         Etobicoke
11       M1B       Scarborough
12       M1B       Scarborough
13       M2B      Not assigned
14       M3B        North York
15       M4B         East York
16       M4B         East York
17       M5B  Downtown Toronto
18       M5B  Downtown Toronto
19       M6B        North York
20       M7B      Not assigned
21       M8B      Not assigned
22       M9B         Etobicoke
23       M9B         Etobicoke
24       M9B         Etobicoke
25       M9B         Etobicoke
26       M9B         Etobicoke
27       M1C       Scarborough
28       M1C       Scarborough
29       M1C       Scarborough
..       ...               ...
258      M9X      Not assigned
259      M1Y      Not assigned
260      M2Y      Not assigned
261      M3Y      Not assigned
262      M4Y  Downtown Toronto
263      M5Y      Not assigned
264      M6Y      Not assigned
265      M7Y      East Toronto
266      M8Y         Etobicoke
267      M8Y         Etobicoke
268      M8Y         Etobicoke
269      M8Y         Etobicoke
270      M8Y         Etobicoke
271      M8Y         Etobicoke
272      M8Y         Etobicoke
273      M8Y         Etobicoke
274      M9Y      Not assigned
275      M1Z      Not assigned
276      M2Z      Not assigned
277      M3Z      Not assigned
278      M4Z      Not assigned
279      M5Z      Not assigned
280      M6Z      Not assigned
281      M7Z      Not assigned
282      M8Z         Etobicoke
283      M8Z         Etobicoke
284      M8Z         Etobicoke
285      M8Z         Etobicoke
286      M8Z         Etobicoke
287      M9Z      Not assigned

                                         Neighbourhood
0                                         Not assigned
1                                         Not assigned
2                                            Parkwoods
3                                     Victoria Village
4                                         Harbourfront
5                                          Regent Park
6                                     Lawrence Heights
7                                       Lawrence Manor
8                                         Not assigned
9                                         Not assigned
10                                    Islington Avenue
11                                               Rouge
12                                             Malvern
13                                        Not assigned
14                                     Don Mills North
15                                    Woodbine Gardens
16                                       Parkview Hill
17                                             Ryerson
18                                     Garden District
19                                           Glencairn
20                                        Not assigned
21                                        Not assigned
22                                          Cloverdale
23                                           Islington
24                                        Martin Grove
25                                    Princess Gardens
26                                     West Deane Park
27                                      Highland Creek
28                                          Rouge Hill
29                                          Port Union
..                                                 ...
258                                       Not assigned
259                                       Not assigned
260                                       Not assigned
261                                       Not assigned
262                               Church and Wellesley
263                                       Not assigned
264                                       Not assigned
265  Business Reply Mail Processing Centre 969 Eastern
266                                         Humber Bay
267                                   King's Mill Park
268                           Kingsway Park South East
269                                          Mimico NE
270                                     Old Mill South
271                                 The Queensway East
272                              Royal York South East
273                                           Sunnylea
274                                       Not assigned
275                                       Not assigned
276                                       Not assigned
277                                       Not assigned
278                                       Not assigned
279                                       Not assigned
280                                       Not assigned
281                                       Not assigned
282                           Kingsway Park South West
283                                          Mimico NW
284                                 The Queensway West
285                              Royal York South West
286                                     South of Bloor
287                                       Not assigned

[288 rows x 3 columns]

In [2]:
df.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

In [3]:
#Replacing 'Not assigned' value in 'Borough' column with null value
df1=df
df1['Borough'] = df1['Borough'].replace({'Not assigned':None})
df1.head()

  Postcode           Borough     Neighbourhood
0      M1A              None      Not assigned
1      M2A              None      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

In [4]:
#Drop null values in 'Borough' column
df1.dropna(axis=0, inplace=True)
df1.head(10)

   Postcode           Borough     Neighbourhood
2       M3A        North York         Parkwoods
3       M4A        North York  Victoria Village
4       M5A  Downtown Toronto      Harbourfront
5       M5A  Downtown Toronto       Regent Park
6       M6A        North York  Lawrence Heights
7       M6A        North York    Lawrence Manor
8       M7A      Queen's Park      Not assigned
10      M9A         Etobicoke  Islington Avenue
11      M1B       Scarborough             Rouge
12      M1B       Scarborough           Malvern

In [5]:
# Re index the data frame after dropping null values from Borough column
df1 = df1.reset_index()
del df1['index']
df1.head(10)

  Postcode           Borough     Neighbourhood
0      M3A        North York         Parkwoods
1      M4A        North York  Victoria Village
2      M5A  Downtown Toronto      Harbourfront
3      M5A  Downtown Toronto       Regent Park
4      M6A        North York  Lawrence Heights
5      M6A        North York    Lawrence Manor
6      M7A      Queen's Park      Not assigned
7      M9A         Etobicoke  Islington Avenue
8      M1B       Scarborough             Rouge
9      M1B       Scarborough           Malvern

In [6]:
# To replace 'Not available' in Neighbourhood column to none
df1['Neighbourhood'] = df1['Neighbourhood'].replace({'Not assigned':None})
df1.head(10)

  Postcode           Borough     Neighbourhood
0      M3A        North York         Parkwoods
1      M4A        North York  Victoria Village
2      M5A  Downtown Toronto      Harbourfront
3      M5A  Downtown Toronto       Regent Park
4      M6A        North York  Lawrence Heights
5      M6A        North York    Lawrence Manor
6      M7A      Queen's Park              None
7      M9A         Etobicoke  Islington Avenue
8      M1B       Scarborough             Rouge
9      M1B       Scarborough           Malvern

In [7]:
#Replace None values with corresponding row values of Borough
df1.Neighbourhood.fillna(df1.Borough, inplace=True)
df1.head(10)

  Postcode           Borough     Neighbourhood
0      M3A        North York         Parkwoods
1      M4A        North York  Victoria Village
2      M5A  Downtown Toronto      Harbourfront
3      M5A  Downtown Toronto       Regent Park
4      M6A        North York  Lawrence Heights
5      M6A        North York    Lawrence Manor
6      M7A      Queen's Park      Queen's Park
7      M9A         Etobicoke  Islington Avenue
8      M1B       Scarborough             Rouge
9      M1B       Scarborough           Malvern

In [8]:
#Merge multiple postcode values under single post code
df1 = df1.groupby('Postcode').agg({'Borough':'first', 
                             'Neighbourhood': ', '.join}).reset_index()
df1.head(10)

  Postcode      Borough                                    Neighbourhood
0      M1B  Scarborough                                   Rouge, Malvern
1      M1C  Scarborough           Highland Creek, Rouge Hill, Port Union
2      M1E  Scarborough                Guildwood, Morningside, West Hill
3      M1G  Scarborough                                           Woburn
4      M1H  Scarborough                                        Cedarbrae
5      M1J  Scarborough                              Scarborough Village
6      M1K  Scarborough      East Birchmount Park, Ionview, Kennedy Park
7      M1L  Scarborough                  Clairlea, Golden Mile, Oakridge
8      M1M  Scarborough  Cliffcrest, Cliffside, Scarborough Village West
9      M1N  Scarborough                      Birch Cliff, Cliffside West

In [9]:
print("Number of rows, columns in data frame are :", df1.shape)

Number of rows, columns in data frame are : (103, 3)